/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
.admin{
	background-color: pink;
}
/* #Page Styles
================================================== */



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        
        .topNav {
            text-align: center;
            margin-bottom: 5px;
            padding-top: 5px;
        }
        
        .mainNav {
            border: 0;
        }
        
        
        /*Make dropdown links appear inline*/
            
        .mainNav ul {
            position: static;
            display: none;
            margin-top: 1px;
        }
        
        /*Create vertical spacing*/
        
/*
        .mainNav li {
            margin-bottom: 1px;
            padding: 5px 0;
            float: none;
        }
*/
            
        /*Make all menu links full width*/
        
        .mainNav ul li, 
        .mainNav li a {
            width: 100%;
            color: #fff;
        }
        
        /*Display 'show menu' link*/
        .show-menu {
            display:block;
        }
        
        #menu li {
            background: #3a3a3a;
            padding: 10px 0;
            margin-bottom: 1px;
        }
        
        .mainNav a:hover{
            border-bottom: 0;
            color: #FF9999;
        }
        
        .mainImageHome img,
        .mainImage,
        .featureImage {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        
        .imageBox,
        .imageBox img{
            width: 100%;
        }
        
        .imageBox {
            height: 279px;
            margin-top: 15px;
        }
        
        .overlay {
            bottom: 278px;
            left: 10px;
            width: 400px;
            height: 250px;
        }
        
        .header1Home {
            margin-bottom: 25px !important;
        }
        
        .individual {
            margin-bottom: 20px !important;
        }
        
        /* buttons */
        
         .addProductBtn {
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }
        
        /* recipe nav */
        
        .recipeNav {
            display: none;
        }
        
        /*Display the dropdown on hover*/
        ul li a:hover + .hidden, .hidden:hover {
            display: block;
        }
    
        .newsLetterSignUp {
            display: none !important;
        }
        
        /* forms */
        
        .mainForms,
        .mainForms2 {
            margin-bottom: 20px !important;
        }
        
        .productMgt {
            margin-top: 85px;
        }
        
        /* comments */
        .commentBox textarea {
            width: 98%;
        }
        
        /* bottom cta */
        
        .bottomCta {
            margin-bottom: 15px !important;
        }
        
        /* footer */
        footer {
            margin-top: 25px;
        }
        
        .footerNav {
            display: none;
        }
        
        /* admin account */
        
        .productStockTitle,
        .shoppingCartList {
            display: none;
        }
        
        .productStockList {
            margin-bottom: 10px !important;
        }
        
        .stockTitleSmall {
            display: inline-block !important;
            margin-right: 10px;
            margin-bottom: 5px;
            color: #3a3a3a;
        }
        
        .stockMgt {
            margin-top: 20px;
        }
        
        /* shopping cart */
        
        .removeCTA {
            position: relative;
            top: 115px;
        }
        
        .removeCTA2 {
            position: relative;
            top: 74px;
        }
        
        .quantityTotal,
        .totalNumber {
            text-align: left !important;
        }
        
        .totalNumber {
            height: 30px;
        }
        
        .shoppingBasketItem:after,
        .checkOutBasketItem:after {
            content: "";
            display: block;
            clear: both;
        }
        
        /* form errors and successes */
        
        .addToBasket.formSuccess, 
        .addToBasket.formError {
            position: relative !important;
            top: -200px;
            left: 128px;
        }
        
    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        
        .addProductForm input[type="submit"] {
            margin-top: 20px;
        }

        .stockMgt {
            font-size: 12px;
            margin-top: 85px;
        }
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        
        /* overlay */
        .overlay{
            bottom: 203px;
            left: 6px;
            width: 286px;
            height: 178px;
        }
        
        .overlay p {
            display: none;
        }
        
        /*images */
        
        .imageBox {
            height: 200px;
        }
        
        /* buttons */
        
        .blueButton2,
        .checkOutForm input[type="submit"]{
            width: 100% !important;
        }
        
        .checkOutForm input[type="submit"] {
            margin-top: 20px;
        }
        
        .shoppingBasket .blueButton2 {
            margin-right: 0 !important;
        }
		
        .overlay .blueButton {
            padding: 6px 0;
            width: 88px;
            margin-top: 20px;
        }
        

        .mainImageHome {
            height: 240px !important;
        }
        
        /* headings */
        
        h1 {
            font-size: 20px;
            line-height: 25px;
        }
        
        h2, .headerIcon {
            font-size: 18px;
        }
        
        h3 {
            font-size: 16px;
        }
        
        h4 {
            font-size: 14px;
        }
        
        /* comments */
        .commentBox textarea {
            width: 97%;
        }
        
        .doubleColumn {
            width: 100%;
            margin-bottom: 5px;
        }
        
        .signIn {
            bottom: 5px !important;
        }
        
        /*admin account */
        
        .productMgt,
        .stockMgt {
            font-size: 12px;
            margin-top: 85px;
        }
        
        .addProductForm input[type="submit"] {
            width: 100%;
            margin-top: 20px;
        }
        
        /* checkout form */
        
        .inputQuarter {
            width: 46%;
        }
        
        /* form errors and successes */
        
        .addToBasket.formSuccess, 
        .addToBasket.formError {
            top: -223px;
            left: 122px;
        }
        
        .commentAdded {
            bottom: 213px;
        }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/