f/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */
    
    .width100{
        width: 100% !important;
    }

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;}
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 384px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
        

    }
/* Website CSS */

/* #Main menu responsive
================================================== */

.show-menu {
	text-decoration: none;
	color: #fff;
	background: #FF9999;
	text-align: center;
	padding: 10px 0;
	display: none;
    font-size: 15px;
    cursor: pointer;
}

/*Hide checkbox*/
.mainNav input[type=checkbox]{
    display: none;
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}

/* #Recipe menu responsive
================================================== */


/*Hide dropdown links until they are needed*/

.mainNav ul li ul {
    margin: 10px 0 0 !important;
    display: none;
    background: #fff;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
    border: 0;
    float: none;
    margin: 0 !important;
    padding: 0 !important;
    background: #bbb !important;
}

li ul li:hover {
    background-color: #4CD2FF !important;
}

/*Prevent text wrapping*/
li ul li a {
	width: auto;
	padding: 0 20px;
    color: #fff !important;
    height: 40px;
	line-height: 40px;
}

li ul li a:hover {
    color: #fff !important;
	
    
}

.recipeNavDropdown {

    font-size: 11px;
}



/* #Text and Fonts
================================================== */

body {
    padding-bottom: 0px !important;
}

body,
.bodyText {
    font-size: 13px;
    color: #AAA;
}

body,
.bodyText,
h1,h2,h3,h4,h5,h6,
.authorLine,
.productPrice {
    font-family: 'Playfair Display', serif;
}

.topNav,
.mainNav,
.recipeNav,
.captionLine,
.newsLetter,
.dayStamp,
.replyCTA,
.editCTA,
.removeCTA,
.loadComments,
.blueButton,
.pinkButton,
.blueButton2,
.likeButton,
.greyButton,
input[type="text"],
input[type="email"],
input[type="number"],
.otherForms textarea,
.commentBox textarea,
select,
.footerNav,
.footNote,
.refresh a,
.closeButton {
    font-family: 'Josefin Sans', sans-serif !important;
}

body,
.bodyText,
.captionLine {
    font-weight: 400;
}

.mainNav,
#menu,
.recipeNav,
.authorLine,
.dayStamp,
.replyCTA,
.editCTA,
.removeCTA,
.loadComments,
.blueButton,
.pinkButton,
.blueButton2,
.likeButton,
.greyButton,
.refresh a,
.footerNav,
.closeButton {
    font-weight: 700 !important;
}

h1 {
    font-size: 26px;
    
}

h2 {
    font-size: 20px;
    line-height: 20px;
 
}

.mainForms h2,
.mainForms h3{
    border-bottom: 1px dotted #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 14px;
    line-height: 18px;
}

h1,h2,h3,h4,h5,h6 {
    color: #3a3a3a;
    letter-spacing: 3px;
}

.topNav,
.mainNav,
.recipeNav,
.newsLetter,
.dayStamp,
.replyCTA,
.editCTA,
.removeCTA,
.loadComments,
.blueButton,
.pinkButton,
.blueButton2,
.likeButton,
.greyButton,
.refresh a,
.footerNav,
.footNote,
.closeButton {
    text-transform: uppercase;
}

.topNav a,
.mainNav a,
.recipeNav li a,
.featureImageLinks,
.replyCTA a,
.removeCTA a,
.editCTA a,
.removeCTA a,
.loadComments a,
.blueButton a,
.blueButton2 a,
.pinkButton a,
input[type="submit"],
.likeButton a,
.greyButton a,
.refresh a,
.footerNav a {
    text-decoration: none;
}

.stockTitleSmall {
    display: none;
}

/* transition for links
================================================== */
.topNav a,
.mainNav a,
.blueButton,
.blueButton2,
.pinkButton,
.likeButton,
.recipeNav li a,
.featureImageLinks,
.greyButton,
.replyCTA a,
.editCTA a,
.removeCTA a,
.loadComments a,
.closeButton {
    transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}


/* top navigation
================================================== */

.topNav {
    display: block !important;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
}

.topNav a {
    line-height: 11px;
    margin: 0;
}

.topNav a:hover {
    color: #FF9999;
}

/* main navigation
================================================== */

.mainNav {
    font-size: 15px;
    color: #3a3a3a;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    box-sizing: border-box;
    padding: 10px 0 6px 0;
}

.mainNav a {
    padding-bottom: 8px;
}

.mainNav a:hover{
    border-bottom: 3px solid #FF9999;
}

.mainNav a.active-link {
    color: #4CD2FF;
}

/* recipe navigation
================================================== */

.recipeNav {
    display: block;
    font-size: 12px;
    color: #3a3a3a;
}

.recipeNav ul {
    padding-left: 310px;
}

.recipeNav li {
    width: 60px;
    padding: 0 5px;
}

.recipeNav li a {
    color: #AAA;
}

.recipeNav li a:hover {
    color: #FF9999;
}
/* header 1 section
================================================== */

.header1Home {
    letter-spacing: 4px;
}

/* first home section CTA
================================================== */

.overlay {
    position: relative;
    bottom: 295px;
    left: 10px;
    width: 440px;
    height: 280px;
    background-color: rgba(255,255,255,0.6);
}

.headerIcon {
    font-size: 2.3em !important;
    text-align: center !important;
}

/* image Containers and text
================================================== */

.mainImage {
    width: 460px;
}

.mainImageHome {
    width: 460px;
    height: 300px !important;
    margin-bottom: 30px;
}

.featureImage {
    width: 220px;
    height: 150px;
}

.featureImageLinks:hover {
    color: #FF9999;
}

.captionLine {
    font-style: italic;
}

.authorLine {
    font-size: 11px;
}

.userBox {
    min-height: 425px;
}
/* newsletter section 
================================================== */

.newsLetter {
    padding: 12px 15px;
    font-weight: 600;
    font-size: 12px;
    color: #FFF;
}

/* single product page
================================================== */
.productPrice {
    display: block;
    font-size: 20px;
    font-style: italic;
}

/* single recipe page
================================================== */

.recipeCaption {
    bottom: 12px;
}

.ingredientsList li {
    margin-bottom: 5px;
    line-height: 13px;
}

/* comment feed
================================================== */
.commentFeed {
    border-bottom: 1px solid #DDD;
    font-size: 11px;
    margin-bottom: 15px;
}

.commentReply {
    margin-left: 30px;
    padding-top: 0px;
    padding-left: 30px;
    border-bottom: 0;
    
}

.dayStamp,
.replyCTA,
.editCTA,
.removeCTA,
.loadComments,
.closeButton {
    font-size: 11px;
}

.replyCTA a,
.editCTA a,
.removeCTA a, 
.loadComments a,
.closeButton {
    color: #FF9999 !important;
}

.replyCTA a:hover,
.editCTA a:hover,
.removeCTA a:hover,
.loadComments a:hover,
.closeButton:hover {
    color: #4CD2FF !important;
}



/* shopping cart
================================================== */
.shoppingBasket select {
    width: 55% !important;
    padding: 3px 0;
}

.shoppingBasket {
    min-height: 400px;
    padding: 10px 30px !important;
}

.shoppingBasketItem,
.checkOutBasketItem {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 50px;
    margin-bottom: 5px;
}

.shoppingBasketItem li {
    padding-top: 5px;
}

.shoppingBasket h3 {
    border: 0;
}


/* buttons
================================================== */
.blueButton {
    width: 100px;
    margin: 0 auto;
}

.blueButton2 {
    display: inline-block;
}

.blueButton,
.pinkButton,
.blueButton2 {
    font-size: 11px;
    text-shadow: 1px 1px #999 !important;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 10px 12px;
    border: none !important;
}

.blueButton a,
.blueButton2 a,
.pinkButton a,
input[type="submit"]{
    color: #FFF !important;
    line-height: 11px;
}

input[type="submit"] {
    padding: 11px 12px;
}

.blueButton:hover,
.blueButton2:hover {
    background-color: #FF9999;
}

.pinkButton:hover,
.checkOutButton:hover {
    background-color: #4CD2FF !important;
}

.likeButton,
.greyButton {
    display: inline-block;
    padding: 7px 10px;
    background-color: #CCC;
    font-size: 15px;
    text-shadow: 1px 1px #999;
    line-height: 17px;
    color: #FFF;
    box-sizing: border-box;
    border-radius: 4px;
}

.greyButton {
    font-size: 11px !important;
}

.likeButton a,
.greyButton a {
    color: #FFF;
}

.likeButton:hover,
.greyButton:hover {
    background-color: #AAA;
}

.addProductBtn {
    position: absolute;
    top: 17px;
    right: 5px;
}

.editOrderStatusBtn {
    position: absolute;
    right: 35px;
    bottom: 68px;
}

.replyCTA {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: -59px;
}

/* view more functions
================================================== */

.minimised2>:nth-child(n+3),
.minimised4>:nth-child(n+5),
.minimised6>:nth-child(n+7),
.minimised8>:nth-child(n+9),
.minimised10>:nth-child(n+11){
    display: none;
    /*outline: 1px green solid;*/
}
/* forms
================================================== */

textarea {
    min-height: 100px;
}

.newsLetter input[type="text"],
.newsLetter input[type="email"] {
    width: 37em;
    margin-left: 20px;
    margin-bottom: 0;
}

.mainForms,
.mainForms2 {
    border: 1px solid #DDD;
    padding: 15px 20px 30px !important;
    box-sizing: border-box;
}

.mainForms label,
.mainForms2 label,
.otherForms label {
    font-weight: normal;
}

.mainForms input[type="text"], 
.mainForms input[type="password"], 
.mainForms input[type="email"], 
.mainForms textarea, 
.mainForms select,
.otherForms input[type="text"],
.otherForms input[type="password"],
.otherForms input[type="email"],
.otherForms textarea,
.otherForms select
{
    width: 96%;
    border: 1px #DDD solid;
}

.otherForms select {
    height: 29px;
    font-size: 16px;
}

input[type="file"] {
    width: 95%;
    padding: 5px 7px;
    border: 1px #DDD solid !important;
}

.formError,
.formSuccess {
    position: relative;
    bottom: 7px;
    color: red;
    font-family: 'Playfair Display', serif;
    font-size: 10px;
    font-weight: 400;
    display: inline-block;
}

.formSuccess {
    color: blue;
}

.imageBox {
    width: 450px;
    height: 300px;
    padding: 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.heightApplied {
    height: 80px;
}

.mainForms2 input[type="text"], 
.mainForms2 input[type="password"], 
.mainForms2 input[type="email"], 
.mainForms2 textarea, 
.mainForms2 select {
    width: 92%;
    border: 1px #DDD solid;
}

.formHeader {
    text-align: center;
}

.doubleColumn {
    width: 50%;
    display: block;
}

.newsFootnote {
    font-size: 11px;
    margin-left: 4px;
}

.addToBasket input[type="number"] {
    width: 7%;
    display: inline-block;
    font-size: 12px;
    padding: 3px;
}

.addToBasket.formSuccess,
.addToBasket.formError {
    position: absolute;
    top: 252px;
    left: 488px;
}

.commentBox {
    padding: 10px;
}

.commentBox textarea {
    width: 99%;
}

.refresh a {
    color: #FFF;
    text-shadow: 1px 1px #999 !important;
    font-size: 11px;
}

.checkout input[type="number"] {
    width: 65%;
    padding: 2px 5px;
}

.stockMgt input[type="number"] {
    width: 30%;
    padding: 2px 5px;
}

.stockMgt input[type="submit"] {
    position: relative;
    bottom: 21px;
    left: 70px;
    padding: 7px 12px;
}

.stockMgt  {
    min-height: 650px;

}

.stockMgt form{
    margin-bottom: 0px;
}

.stockMgt li {
    margin-bottom: 0;
}

.checkout select {
    margin-left: 40px;
}

.payment select {
    margin-left: 0;
}

.payment input[type="text"] {
    width: 70%;
}

.newsLetterSignUp {
    height: 35px;
}

.newsLetterSignUp form {
    margin-bottom: 0;
}

.newsLetterSignUp form input {
    padding: 9px;
}

.newsLetterSignUp input[type="submit"] {
    position: relative;
    bottom: 31px;
    left: 525px;
}

.newsLetterSignUp .formError {
    position: absolute;
    bottom: 267px !important;
    right: 165px;
    text-transform: none;
}

.newsLetterSignUp .formSuccess {
    position: relative;
    bottom: 55px;
    left: 32px;
    text-transform: none;
}

.otherForms .formError {
    bottom: 0;
} 


.addQuantity {
    margin-bottom: 20px;
}
.addQuantity label {
    color: #3a3a3a;
    font-weight: normal;
    font-size: 17px;
    margin-top: 8px;
}

.addStockLevel label {
    color: #3a3a3a;
}

.addStockLevel input {
    margin-top: 0;
}

.addProductForm .formSuccess {

    position: relative;
    bottom: 79px;
    left: 112px;
}

.stockUpdate {
    position: absolute;
    right: 411px;
    top: 130px;
}

.recipeUpdate,
.recipeSubmitted {
    position: relative;
    bottom: 100px;
}

.commentAdded {
    position: relative;
    bottom: 188px;
    left: 104px;
}

.signIn {
    bottom: 20px !important;
}

.checkOutBasket input {
    padding: 5px;
    width: 80%;
}

.checkOutBasket h3 {

    border: 0;
}

.inputHeight {
    height: 85px;
}

.inputQuarter {
    width: 25%;
}

/* footer
================================================== */

.footerNav {
    font-size: 15px;
    color: #FFF;
    padding: 10px 0 40px 0;
    border-bottom: 1px solid #FFF;
}

.footerNav a {
    color: #FFF;
}

.footNote {
    padding: 10px;
    font-size: 11px;
    color: #FFF;
}

/* #Floating
================================================== */

    .floatLeft {
        float: left;
    }

    .floatRight {
        float: right;
    }

    .clearBoth {
        clear: both;
    }

    .selfClear:after {
        content: "";
        display: block;
        clear: both;
    }


/* font weights
================================================== */

    .bodyTextItalic {
        font-style: italic;
    }

/* #Colours
================================================== */
    
    .bgBlue {
        background-color: #4CD2FF;
    }
    
    .bg3A {
        background-color: #3a3a3a;
    }

    .bg44 {
        background-color: #444;
    }
    
    .bgCC {
        background-color: #CCC;
    }
    
    .bgPink {
        background-color: #FF9999 !important;
    }
    
    .colourAA {
        color: #AAA;
    }

    .colourRed {
        color: red;
    }

    .colour3A {
        color: #3a3a3a;
    }
    
    .colour44 {
        color: #444;
    }

    .colour66 {
        color: #666;
    }
    
    .colourBlue {
        color: #4CD2FF;
    }

    .colourPink {
        color: #FF9999;
    }

/* #Margin
================================================== */
    .marginTop5 {
        margin-top: 5px;    
    }

    .marginTop10 {
        margin-top: 10px;
    }
    
    .marginTop20 {
        margin-top: 20px;
    }

    .marginTop50 {
        margin-top: 50px;
    }
    .marginTopLess10 {
        margin-top: -10px;
    }

    .marginRight5 {
        margin-right: 5px;
    }
    .marginRight10 {
        margin-right: 10px;
    }

    .marginRight20 {
        margin-right: 20px;
    }
 
    .marginBottom10 {
        margin-bottom: 10px;
    }

    .marginBottom20 {
        margin-bottom: 20px;
    }
    
    .marginBottom30 {
        margin-bottom: 30px;
    }

    .marginBottom50 {
        margin-bottom: 50px;
    }

    .marginLeft10 {
        margin-left: 10px;
    }

    .marginLeft20 {
        margin-left: 20px;
    }

    .marginLeft30 {
        margin-left: 30px;
    }

    .marginLeftNone {
        margin-left: 0;
    }

    .marginCenter {
        margin-right: auto;
        margin-left: auto;
    }
    
    .marginTopNone {
        margin-top: 0;
    }

    .marginRightNone {
        margin-right: 0 !important;
    }

    .marginBottomNone {
        margin-bottom: 0 !important;
    }

    .marginLeftNone {
        margin-left: 0 !important;
    }

    .marginNone {
        margin: 0;
    }

/* #Padding
================================================== */
    .paddingTop10 {
        padding-top: 10px;
    }
    
    .paddingTop20 {
        padding-top: 20px;
    }

    .paddingTop30 {
        padding-top: 30px;
    }

    .paddingTop50 {
        padding-top: 50px;
    }

    .paddingRight10 {
        padding-right: 10px;
    }

    .paddingRight20 {
        padding-right: 20px;
    }
 
    .paddingBottom10 {
        padding-bottom: 10px;
    }

    .paddingBottom20 {
        padding-bottom: 20px;
    }

    .paddingLeft10 {
        padding-left: 10px;
    }

    .paddingLeft20 {
        padding-left: 20px;
    }

    .paddingLeftNone {
        padding-left: 0;
    }

    .paddingTopNone {
        padding-top: 0;
    }

    .paddingRightNone {
        padding-right: 0;
    }

    .paddingBottomNone {
        padding-bottom: 0;
    }

    .paddingLeftNone {
        padding-left: 0;
    }
    
    .paddingNone {
        padding: 0;
    }

/* #Text Alignment
================================================== */

    .textAlignCenter {
        text-align: center !important;
    }

    .textAlignRight {
        text-align: right !important;
    }

/* #Display
================================================== */

    .displayBlock {
        display: block !important;
    }

    .displayInlineBlock {
        display: inline-block;
    }

/* #Position
================================================== */

    .positionRelative {
        position: relative;
    }



/* #pop up modal for comment reply
================================================== */


#overlayCommentReply {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
}

#overlayCommentReply.hide {
    width: 0;
    height: 0;
}

.modalContainer {
    display: block;
    background: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 700px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 13px;
    z-index: 50;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%,-50%);
}

.modalContainer textarea {
    width: 98.5%;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: -14px;
    padding: 7px 25px 7px 20px;
    z-index: 40;
    text-decoration: none;
}

.closeButton a {
    
}
    

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }


